.features {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features h2 {
    font-size: 3rem;
    margin-top: 1rem;
}

.features .featuresP {
    margin-top: .6rem;
    font-size: 18px;
    color: #c9c9c9;
    text-align: center;
    width: 90%;
    line-height: 1.6;
}

.features .featuresSect {
    max-width: 1100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 3rem auto;
    justify-content: center;
}

.features .featuresSect .featuresDiv {
    max-width: 400px;
    width: 90%;
    box-shadow: 0px 0px 5px #0f0f0f;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 6px;
    height: 180px;
    background-color: var(--col2);
}

.features .featuresSect .featuresDiv h5 {
    font-size: 1rem;
}

.features .featuresSect .featuresDiv p {
    color: gray;
    line-height: 1.4;
}