.technology {
    margin: 2rem 0;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.technology .technologySect {
    margin-top: 1rem;
    max-width: 260px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.technology .technologySect img {
    width: 50px;
    cursor: pointer;
}