.preForms {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preForms h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.preForms .preFormsSect {
    max-width: 600px;
    margin-top: 1rem;
    width: 100%;
}

.preForms section .preFormsBtn {
    padding: 8px 1rem;
    min-width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    border: none;
    border-radius: 4px;
    color: var(--col0);
    cursor: pointer;
    transition: .3s;
}

.preForms section .preFormsBtn:hover {
    opacity: 0.9;
}

@media (max-width: 424px) {
    .preForms .preFormsBtns {
        justify-content: center;
    }
}